{% extends 'base.html' %}
{% load static %}

{% block hero_slider %}
<div class="px_slider_home">
    <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
        data-alias="classicslider1"
        style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" data-version="5.0.7">
            <ul>
                <li data-index="rs-1" data-transition="zoomin" data-slotamount="default"
                    data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                    data-saveperformance="off" data-title="Intro" data-description="">
                    
                    <img src="{% static 'core/images/maestra/MuralZapata.jpg' %}" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                        data-no-retina>

                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                        id="slide-1-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-30"
                        data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 5; white-space: nowrap;">
                        <div class="center_img">
                            <img src="{% static 'core/images/icon/logoMaestraVida2Blanco.png' %}" class="img-responsive" alt="logo">
                        </div>
                    </div>
                </li>

                <li data-index="rs-2" data-transition="zoomin" data-slotamount="default"
                    data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                    data-saveperformance="off" data-title="Intro" data-description="">
                    
                    <img src="{% static 'core/images/maestra/frontis.png' %}" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg"
                        data-no-retina>

                    <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                        id="slide-2-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-30"
                        data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 5; white-space: nowrap;">
                        <div class="center_img">
                            <img src="{% static 'core/images/icon/logoMaestraVida2Blanco.png' %}" class="img-responsive" alt="logo">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main_wrapper px_welcome_wrapper">
    <div class="container">
        <div class="px_heading_middle">
            <h2>Bienvenido a <span>Maestra Vida</span></h2>
        </div>
        <div class="px_club_services">
            <div class="row">
                <!-- CUADRO 1: Música en vivo -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="px_thumb_wrapper bottom_1">
                        <img src="{% static 'core/images/maestra/musica1.png' %}" class="img-responsive" alt="música">
                        <div class="px_sevice_overlay triangle_shape">
                            <!-- Agregamos la etiqueta <a> para enlazar a la Cartelera -->
                            <a href="{%url 'eventos:cartelera'%}" style="display: block; color: inherit; text-decoration: none; height: 100%;">
                                <div class="overlay_inner">
                                    <!-- Reemplazo de SVG por ícono FontAwesome -->
                                    <div class="border" style="display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
                                        <i class="fa fa-music fa-2x" style="color: #ffffff;"></i>
                                    </div>
                                    <h4>Música en vivo</h4>
                                    <p>Martes, miércoles y jueves música en vivo con una entrada de valor variable dependiendo del día y la orquesta.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- CUADRO 2: Horario de atención -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="px_thumb_wrapper bottom_2">
                        <img src="{% static 'core/images/maestra/pista.png' %}" class="img-responsive" alt="pista">
                        <div class="px_sevice_overlay triangle_shape">
                            <!-- Agregamos la etiqueta <a> para enlazar a Contacto -->
                            <a href="#footer" style="display: block; color: inherit; text-decoration: none; height: 100%;">
                                <div class="overlay_inner">
                                    <!-- Reemplazo de SVG por ícono FontAwesome -->
                                    <div class="border" style="display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
                                        <i class="fa fa-clock-o fa-2x" style="color: #ffffff;"></i>
                                    </div>
                                    <h4>Horario de atención</h4>
                                    <p>Martes a domingo a las 22:00 hrs. antes de día laboral hasta las 03:30, vísperas de festivo hasta las 04:30.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- CUADRO 3: Historia -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="px_thumb_wrapper bottom_3">
                        <img src="{% static 'core/images/maestra/historia.png' %}" class="img-responsive" alt="historia">
                        <div class="px_sevice_overlay triangle_shape">
                            <!-- Agregamos la etiqueta <a> para enlazar a Nosotros -->
                            <a href="{%url 'nosotros'%}" style="display: block; color: inherit; text-decoration: none; height: 100%;">
                                <div class="overlay_inner">
                                    <!-- Reemplazo de SVG por ícono FontAwesome -->
                                    <div class="border" style="display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
                                        <i class="fa fa-moon-o fa-2x" style="color: #ffffff;"></i>
                                    </div>
                                    <h4>Historia</h4>
                                    <p>La Salsoteca Maestra Vida fue inaugurada el 9 de septiembre de 1988, desde entonces hemos funcionado siempre en el mismo lugar.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    </div>
</div>

<div class="main_wrapper px_event_wrapper">
    <div class="color_overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="px_heading_middle">
                        <h2><span>Cartelera</span> de la semana</h2>
                    </div>
                    <div class="px_event_main">
                        <div class="row cartelera-row">

                            {% if eventos %}
                                {% for evento in eventos %}
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="px_event_cover"
                                        data-poster="{% if evento.poster %}{{ evento.poster.url }}{% else %}/static/core/img/default-event.jpg{% endif %}">

                                        <div class="px_thumb_wrapper">

                                            {% if evento.poster %}
                                                <div class="contenedor-afiche">
                                                    <img src="{{ evento.poster.url }}"
                                                        alt="Afiche {{ evento.banda.nombre }}"
                                                        class="event-poster">
                                                </div>
                                            {% else %}
                                                <img src="/static/core/img/default-event.jpg"
                                                    alt="Evento Maestra"
                                                     class="event-poster">
                                            {% endif %}

                                            <div class="thumb_overlay triangle_shape">

                                                {% if evento.link_entrada %}
                                                <div class="book_now_button">
                                                    <a href="{{ evento.link_entrada }}"
                                                    class="read_m_btn triangle_btn"
                                                    target="_blank"
                                                    rel="noopener">
                                                        Compra tu entrada
                                                    </a>
                                                </div>
                                                {% endif %}

                                                <div class="overlay_inner_bottom">
                                                    <h4>{{ evento.banda.nombre }}</h4>
                                                    <p>{{ evento.descripcion|truncatewords:15 }}</p>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="bottom_tab">
                                            <span>{{ evento.hora|date:"d/m" }}</span>
                                            <span>{{ evento.hora|time:"H:i A" }}</span>
                                            <span>Preventa: ${{ evento.precio_preventa|floatformat:0 }} | Puerta: ${{ evento.precio_puerta|floatformat:0 }}</span>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}

                            {% else %}

                                <div class="col-xs-12">
                                    <p style="color:white;text-align:center;">
                                        Próximamente más novedades...
                                    </p>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                    <div class="text-center cartelera-footer">
                        <a href="{% url 'eventos:cartelera' %}" class="read_m_btn">
                            Ver cartelera completa
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main_wrapper px_gallery_wrapper">
    <div class="px_heading_middle mb-5">
        <h2>La Rumba en <span>Maestra Vida</span></h2>
    </div>

    <div class="px_blog_cover px_blog_single">
      <div class="blog_thumb text-center">

        <div class="fotos-carousel owl-carousel owl-theme">
          {% if fotos %}
            {% for foto in fotos %}
              {% if foto.evento %}
                <div class="item">
                  <a href="{{ foto.imagen.url }}" class="cartelera_popup">
                    <img src="{{ foto.imagen.url }}" alt="Foto de {{ foto.evento.banda.nombre }}" class="img-fluid" style="max-height:520px; width:100%; object-fit:cover;">
                  </a>
                  <div class="carousel-caption" style="margin-top:8px;">
                    <h6 class="text-white mb-1" style="font-weight:600; font-size:14px;">{{ foto.evento.banda.nombre }}</h6>
                    <small class="text-white-50">{{ foto.evento.hora|date:"d/m/Y" }}</small>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="item">
              <img src="{% static 'core/img/album-default.jpg' %}" alt="No hay fotos" class="img-fluid">
            </div>
          {% endif %}
        </div>

        <div class="text-center mt-5 mb-3">
          <a href="{% url 'bandas:galeria' %}" class="read_m_btn">Ir a Nuestra Galería</a>
        </div>
      </div>
    </div>

    
</div>

<!-- BANNER DISCRETO DE CONTEO DIARIO -->
<div class="px_countdown_discreto" style="background-color: #121212; border-top: 1px solid #2a2a2a; border-bottom: 1px solid #2a2a2a; padding: 12px 0; text-align: center;">
    <div class="container">
        <p style="margin: 0; color: #b0b0b0; font-size: 0.9rem; font-weight: 400;">
            <i class="fa fa-calendar" style="color: #ff0055; margin-right: 8px;"></i>
            Para el fin del KASTigo faltan: 
            <span id="conteo-diario-texto" style="color: #ff0055; font-weight: 600;">Cargando...</span>
        </p>
    </div>
</div>

<!-- LÓGICA JAVASCRIPT (CÁLCULO EN AÑOS, MESES Y DÍAS) -->
<script>
document.addEventListener("DOMContentLoaded", function () {
    // 1. Fecha meta: 11 de Marzo de 2030
    // Nota: Marzo corresponde al mes 2 en JS (Enero=0, Febrero=1, Marzo=2)
    const fechaObjetivo = new Date(2030, 2, 11);
    const hoy = new Date();

    // Normalización a medianoche
    fechaObjetivo.setHours(0, 0, 0, 0);
    hoy.setHours(0, 0, 0, 0);

    const contenedorTexto = document.getElementById("conteo-diario-texto");

    if (hoy > fechaObjetivo) {
        contenedorTexto.innerText = "¡El evento ya se realizó!";
    } else if (hoy.getTime() === fechaObjetivo.getTime()) {
        contenedorTexto.innerText = "¡Es hoy!";
    } else {
        // 2. Cálculo relativo de fechas de calendario
        let anos = fechaObjetivo.getFullYear() - hoy.getFullYear();
        let meses = fechaObjetivo.getMonth() - hoy.getMonth();
        let dias = fechaObjetivo.getDate() - hoy.getDate();

        // Ajuste de días negativos tomando los días del mes anterior
        if (dias < 0) {
            meses--;
            const ultimoDiaMesAnterior = new Date(fechaObjetivo.getFullYear(), fechaObjetivo.getMonth(), 0).getDate();
            dias += ultimoDiaMesAnterior;
        }

        // Ajuste de meses negativos
        if (meses < 0) {
            anos--;
            meses += 12;
        }

        // 3. Construcción del texto
        let partes = [];
        if (anos > 0) partes.push(anos + (anos === 1 ? " año" : " años"));
        if (meses > 0) partes.push(meses + (meses === 1 ? " mes" : " meses"));
        if (dias > 0 || partes.length === 0) partes.push(dias + (dias === 1 ? " día" : " días"));

        // Formato con comas y "y" gramatical
        if (partes.length > 1) {
            const ultimo = partes.pop();
            contenedorTexto.innerText = partes.join(", ") + " y " + ultimo;
        } else {
            contenedorTexto.innerText = partes[0];
        }
    }
});
</script>
{% endblock %}

{% block extra_js %}
<script>
  (function($){
    $(document).ready(function(){
      var $carousel = $('.fotos-carousel');

      $carousel.owlCarousel({
        items: 1,
        loop: true,
        nav: true,
        navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
        dots: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: false,
        smartSpeed: 700,
        autoplaySpeed: 700,
        responsive: {
          0:   { items:1 },
          576: { items:1 },
          768: { items:1 }
        }
      });

      // Inicializar Magnific Popup para las imágenes del carousel
      if ($.fn.magnificPopup) {
        $('.fotos-carousel .cartelera_popup').magnificPopup({
          type: 'image',
          gallery: { enabled: true },
          removalDelay: 300,
          mainClass: 'mfp-fade'
        });
      }
    });
  })(jQuery);
</script>
{% endblock %}

